{% extends 'base.html.twig' %}
{% block body %}
    <h1>Clothing list</h1>
    <input type="button" id="btn_add" onclick="window.location.href='{{ path('app_clothing_add') }}'">Adding a clothing</input>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Brand</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
        {% for clothing in clothings %}
            <tr>
                <td>{{ clothing.id }}</td>
                <td>{{ clothing.name }}</td>
                <td>
                    {% for category in clothing.categories %}
                        {{ category.name }}
                        {% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% if clothing.brand %}
                        {{ clothing.brand.name }}
                    {% endif %} 
                </td>
                <td>
                    {% for size in clothing.sizes %}
                        {{ size.name }}
                        {% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td id="td_btn">
                    <input type="button" id="btn_remove" onclick="window.location.href='{{ path('app_clothing_remove', {'id': clothing.id}) }}'"></input>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}





